
/* Sets the background colour of the page */
body {
  background-color: #471002;
}

/* is used to be able to center ellements */
.center {
  text-align: center;
}

/*  is used to be able to set the formating of the images */
img {
  border-radius : 8px;
  padding : 2px;
  border-color : black;
  border-width : 4px;
  border-style : solid;
  margin-right: auto;
  margin-left: auto;
  height: auto;
  display: block;
  width: 100%;
}

/* Is used to style the main webpage heading */
.pageHeading {
  font-family:  "Georgia", serif;
  font-size: 36pt;
  color: White;
  margin-right: 25px;
  margin-left: 25px;
  text-align: center;
}


/* Is used to be able to setup formatting of all ellements inside divs */
div {
  font-family: "Times New Roman", serif;
  color:  White;
  font-size: 20pt;
  display: block;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.radioButtons {
    font-size: 35px;
}

/* Is used to be able to setup the formatting of the buttons used */
button {
  font-family:  "Georgia", serif;
  height: auto;
  width: auto;
  font-size: 36px;
  display: inline-block;
  margin-top: 30pt;
  margin-bottom: 30pt;
  text-align: center;
}

button.reloadImages {
    background: Red;
    margin-left: 13%;
}

button.favoritedImagesInfo {
    background: Green;
    margin-left: 17%;
}

button.validButtonInfo {
  background: Yellow;
  margin-left: 17%;
}

button.favoritedImages {
    background: Green;
    margin-left: 13%;
}

button.statsButton {
    background: Yellow;
    margin-left: 23%;
}

button.statsButtonMain {
    background: Yellow;
    margin-left: 13%;
}

button.browsePhotos {
    background: Orange;
    margin-left: 23%;
}

button.favoritedImagesStats {
	background: Green;
	margin-left: 20%;
}
button.browsePhotosStats {
	background: Orange;
	margin-left: 20%;
}


/* Is used to be able to setup the formatting of the text inside the text area */
div textArea {
  font-size: 55px;
  display: block;

}

/* Is used to be able to setup the formatting of the text inside the input area */
input {
  font-size: 55px;
}

p {
  font-family: "Times New Roman", serif;
  font-size: 25pt;
  color: White;
  margin-right: 50px;
  margin-left: 50px;
}
