
/* Sets the background colour of the page */
body {
  background-color: black;
  color: white;
  font-size: 20pt;
}

/* Is used to be able to setup formatting of all ellements inside divs */
div {
  font-family: "Times New Roman", serif;
  display: block;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

/* Is used to be able to setup the formatting of the text inside the text area */
div textArea {
  font-size: 35px;
  display: block;
}

/*  is used to be able to set the formating of the images */
img {
  border-radius : 32px;
  padding : 2px;
  margin-right: auto;
  margin-left: auto;
  height: auto;
  display: block;
  width: 100%;
  border-style: none;
}

/* Is used to be able to setup the formatting of the text inside the input areas */
input, select {
  font-size: 25px;
}

p {
  font-family: "Times New Roman", serif;
  font-size: 18pt;
  color: White;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 10px;
}

/* Is used to be able to setup the formatting of the buttons used */
button {
  font-family:  "Georgia", serif;
  height: auto;
  width: auto;
  font-size: 25px;
  display: inline-block;
  margin-top: 30pt;
  margin-bottom: 30pt;
  text-align: center;
  border-radius: 16px;
  border: none;
  outline: none;
  margin-left: 10px;
}

button.reloadImages {
    background: Red;
}

button.favoritedImagesInfo {
    background: Green;
}

button.validButtonInfo {
  background: Yellow;
}

button.favoritedImages {
    background: Green;
}

button.statsButton {
    background: Yellow;
}

button.statsButtonMain {
    background: Yellow;
}

button.browsePhotos {
    background: Orange;
}

button.favoritedImagesStats {
	background: Green;
}
button.browsePhotosStats {
	background: Orange;
}

/* is used to be able to center ellements */
.center {
  text-align: center;
}

/* is used to be able to center the image grids */
.container {
  padding-left: 25%;
  padding-right: 25%;
}

/* Is used to style the main webpage heading */
.pageHeading {
  font-family:  "Georgia", serif;
  color: White;
  margin-right: 25px;
  margin-left: 25px;
  text-align: center;
}

.buttonSVG {
  height: 25px;
  width: auto;
  padding: 2px;
  margin: 0px;
}
